.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.slow-spin {
  -webkit-animation: fa-spin 3s infinite linear;
  animation: fa-spin 3s infinite linear;
}

.slow-spin-very {
  -webkit-animation: fa-spin 10s infinite linear;
  animation: fa-spin 10s infinite linear;
}

.slow-spin-mouseover:hover{
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.text-center{
    text-align: center;
}

.header{
    background: url(./resources/boise_pano_brushed.jpg);
    background-size: cover;
    border-bottom: 2px solid black;
    box-shadow: 0px 0px 7px black;
    height: 22%; /*Exact height of image*/
    background-size: cover;
}

.stats{
    text-align: left;
}
.high{
    color: red;
}
.low{
    color: blue;
}
.average{
    color: black;
}

.logo{
    width: 30%;
}



.weather-chart{
    height: 50%;
    width: 100%;
}

@media (max-width: 770px) {
  .stats {
    text-align: center;
  }
  .nav-side{
      text-align: center;
  }
  .right-side{
      text-align: center;
  }
}